@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="max-width: 620px">This application is created as a sample of a search engine that uses ajax to
    do a partial page refresh for the search, providing instant results.
    The requests are passed back and forth using json, per project requirements,
    but a PartialViewResult would likely be more maintainable and cleaner.
</p>
<br/>
<h4>Additional Scripts Used</h4>
<p style="max-width: 620px">Awesomeplete - search suggestion completion. Pretty cool, my first time using it. Not going to be my last.<br/>
    <a href="http://leaverou.github.io/awesomplete/">http://leaverou.github.io/awesomplete/</a>

</p>
<p style="max-width: 620px">
    Mustache - automatic templating of json objects to html. Saved me a lot of time and madness building up an html string.<br/>
    <a href="https://github.com/janl/mustache.js/blob/master/mustache.js">https://github.com/janl/mustache.js/blob/master/mustache.js</a>
</p>
