@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Johnathan Kastner</strong> <a href="mailto:johnathan.kastner@gmail.com">johnathan.kastner@gmail.com</a><br/>
</address>

<address>
    1012 Meadowbrook Dr <br/>
    Fort Collins, CO 80521<br/>
    <abbr title="Phone">P:</abbr>
    970-581-5489
</address>

