@model IEnumerable<JKPersonSearcherModels.PersonInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Create Seed Data", "InsertSeedData")
</p>
<div style="width:600px; margin-left:auto; margin-right:auto">
    <div style="background-color: lightgray">
        <h2>Person Search</h2>
    </div>
    <p>Type any part of the first or last name to search</p>
    <span>
        <input class="awesomplete"
               oninput="myInput()"
               id="searchText" 
               type="text"
               placeholder="Search..."
                />
    </span>
    <div id="allPeople" ></div>
</div>

@section Scripts {
    <script>
        window.onload = populateSuggestions();
        document.getElementById('searchText')
            .addEventListener('awesomplete-selectcomplete',
                function() {
                    doneTyping();
                    document.getElementById('searchText').close();
                });
        //Taken from:
        //http://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
        var typingTimer; //timer identifier
        var doneTypingInterval = 250; //time in ms


        function myInput() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        }

        //user is "finished typing," do something
        function doneTyping() {
            var currentInput = $('#searchText').val();
            runSearch(currentInput);
        }


        function runSearch(myInput) {
            $.ajax({
                    url: "/PersonInformation/PersonSearchMatch",
                    contentType: "application/json; charset=utf-8",
                    type: 'GET',
                    data: { "searchQuery": myInput },
                    dataType: "json"

                })
                .success(function(result) {
                    var resultObjects = JSON.parse(result);
                    updateDivWithInfo(resultObjects);
                })
                .error(function(xhr, status) {
                    alert(status);
                });
        }

        function populateSuggestions() {
            $.ajax({
                    url: "/PersonInformation/GetNameSuggestions",
                    type: 'GET'
                })
                .success(function(result) {
                    var input = document.getElementById("searchText");
                    var awesomplete = new Awesomplete(input);
                    awesomplete.list = result;
                })
                .error(function(xhr, status) {
                    alert(status);
                });
        }

        var templateWithoutPicture = '<h3>{{FirstName}} {{LastName}}</h3>' +
            '<strong>Address:</strong> {{Address}}<br/><strong>Age:</strong> {{Age}}<br/>' +
            '<strong>Interests:</strong> {{Interests}}<br/><br/><br/>';
        var templateWithPicture = '<img src="data:image;base64,{{PersonInformationImage.Image}}"' +

            'style="margin:15px 15px"' +
            'Height="120" ALIGN="left" Width="120" alt="Profile Picture" />' + templateWithoutPicture;
        function updateDivWithInfo(theResponse) {
            if (theResponse.SearchResults.length === 0) {
                $('#allPeople').html(theResponse.MessageInformation);
            } else {

                var myTable = '<table style=width:100%>';
                var curRow;
                for (var q = 0; q < theResponse.SearchResults.length; q++) {

                    curRow = '<tr><td>';
                    var curInfo = theResponse.SearchResults[q];

                    var curTemplate = templateWithoutPicture;


                    if (curInfo.PersonInformationImage != null && curInfo.PersonInformationImage.Image != null) {
                        curTemplate = templateWithPicture;
                    }
                    

                    var html = Mustache.to_html(curTemplate, curInfo);
                    //curRow +=  curInfo.FirstName;
                    //curRow +=  curInfo.LastName;
                    //curRow +=  curInfo.Age;
                    //curRow +=  curInfo.Address;
                    //curRow +=  curInfo.Interests;
                    //if (curInfo.PersonInformationImage != null && curInfo.PersonInformationImage.Image != null) {
                    //    curRow += '<img src="data:image;base64,' +
                    //    curInfo.PersonInformationImage.Image +
                    //    '" Height="80" Width="80" alt="Profile Picture" />';
                    //}
                    curRow += html;
                    curRow += '</td></tr>';
                    myTable += curRow;
                }
                myTable += '</table>';
                $('#allPeople').html(myTable);
            }
        }


    </script>
    <link rel="stylesheet" href="../../Content/awesomplete.css"/>
    <script src="/Scripts/awesomplete.js" async></script>
    <script src="/Scripts/mustache.js" async></script>
}
