@model IEnumerable<JKPersonSearcherModels.PersonInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Create Seed Data", "InsertSeedData")
</p>
<div style="width:600px; margin-left:auto; margin-right:auto">
    <div style="background-color: lightgray">
        <h2>Person Search</h2>
    </div>
    <p>Type any part of the first or last name to search</p>
    <input id="searchText" name="searchTextInput" type="text" value="" />
    <div id="allPeople" style="background-color:lightskyblue"></div>
</div>

@section Scripts {
    <script>
        window.onload = doneTyping();



        //Taken from:
        //http://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
        var typingTimer;                //timer identifier
        var doneTypingInterval = 250;  //time in ms

        $('#searchText').keyup(function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        //user is "finished typing," do something
        function doneTyping() {
            var currentInput = $('#searchText').val();
            runSearch(currentInput);


        }

        function runSearch(myInput) {
                $.ajax({
                    url: '/PersonInformation/PersonSearchMatch',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    data: { "jsonData": myInput },
                    dataType: 'html'

                })
                    .success(function (result) {
                        $('#allPeople').html(result);
                    })
                    .error(function(xhr, status) {
                        
                        alert(status);
                    });
            }



    </script>
}
