@model IEnumerable<JKPersonSearcherModels.PersonInformation>

@{
    ViewBag.Title = "Search";
}

<h2>Index</h2>

<table>
    <tr>
        <td>
            @Html.ActionLink("Create New", "Create")
        </td>
        <td style="padding-left: 10px">
            @Html.ActionLink("Reset Data", "InsertSeedData")
        </td>
        <td style="padding-left: 10px">
            Artificial Search Delay: 
            <input type="number" id="delayMsInput"
                   max="15000" min="0" value="0"
                   oninput="serverDelayChanged()"
                   placeholder="Server delay (ms)"/>

        </td>
    </tr>
</table>
<div style="align-self: stretch; margin-left:auto; margin-right:auto">
    <div style="background-color: lightgray">
        <h2>Person Search</h2>
    </div>
    <p>Type any part of the first or last name to search</p>
    <span>
        <input class="awesomplete"
               maxlength="150"
               oninput="searchInputChanged()"
               id="searchText" 
               type="text"
               placeholder="Search..."
                />
    </span>
    <div id="searchMessaging"></div>
    <div id="allPeople" ></div>
</div>

@section Scripts {
    <script>
        window.onload = populateSuggestions();
        document.getElementById('searchText')
            .addEventListener('awesomplete-selectcomplete',
                function() {
                    doneTyping();
                    document.getElementById('searchText').close();
                });
        //Taken from:
        //http://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
        var typingTimer; //timer identifier
        var doneTypingInterval = 250; //time in ms


        function searchInputChanged() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        }

        function serverDelayChanged() {
            var serverDelayInput = $('#delayMsInput').val();
            $.ajax({
                url: "/PersonInformation/SetServerDelay",
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                data: { "serverDelay": serverDelayInput },
                dataType: "json"

            })
               .success(function () {
                   
               })
               .error(function (xhr, status) {
                   alert(status);
               });
        }

        //user is "finished typing," do something
        function doneTyping() {
            var currentInput = $('#searchText').val();
            runSearch(currentInput);
        }


        var lastSearchRequest = new Date().getMilliseconds();
        function runSearch(myInput) {
            $('#searchMessaging').html("Searching for '"+myInput+"'...");
            var timeStamp = new Date().getMilliseconds();
            lastSearchRequest = timeStamp;
            $.ajax({
                    url: "/PersonInformation/PersonSearchMatch",
                    contentType: "application/json; charset=utf-8",
                    type: 'GET',
                    data: {
                        "searchQuery": myInput,
                        "timeStamp": timeStamp
                    },
                    dataType: "json"

                })
                .success(function (result) {
                    var resultObjects = JSON.parse(result);

                    updateDivWithInfo(resultObjects);
                })
                .error(function(xhr, status) {
                    alert(status);
                });
        }

        function populateSuggestions() {
            $.ajax({
                    url: "/PersonInformation/GetNameSuggestions",
                    type: 'GET'
                })
                .success(function(result) {
                    var input = document.getElementById("searchText");
                    var awesomplete = new Awesomplete(input);
                    awesomplete.list = result;
                })
                .error(function(xhr, status) {
                    alert(status);
                });
        }

        var templateWithoutPicture = '<h3>{{FirstName}} {{LastName}}</h3>' +
            '<strong>Address:</strong> {{Address}}<br/><strong>Age:</strong> {{Age}}<br/>' +
            '<strong>Interests:</strong> {{Interests}}<br/><br/><br/>';
        var templateWithPicture = '<img src="data:image;base64,{{PersonInformationImage.Image}}"' +

            'style="margin:15px 15px"' +
            'Height="120" ALIGN="left" Width="120" alt="Profile Picture" />' + templateWithoutPicture;
        function updateDivWithInfo(theResponse) {
            if (theResponse.RequestTimeStamp != lastSearchRequest) {
                //The user has entered more input, ignore this result.
                return;
            }

            $('#searchMessaging').html(theResponse.MessageInformation);


            if (theResponse.SearchResults.length != 0) {
                var myTable = '<table style=width:100%>';
                var curRow;
                for (var q = 0; q < theResponse.SearchResults.length; q++) {

                    curRow = '<tr><td>';
                    var curInfo = theResponse.SearchResults[q];

                    var curTemplate = templateWithoutPicture;


                    if (curInfo.PersonInformationImage != null && curInfo.PersonInformationImage.Image != null) {
                        curTemplate = templateWithPicture;
                    }


                    var html = Mustache.to_html(curTemplate, curInfo);
                    curRow += html;
                    curRow += '</td></tr>';
                    myTable += curRow;
                }
                myTable += '</table>';
                $('#allPeople').html(myTable);
            } else {
                $('#allPeople').html('');
            }
        }


    </script>
    <link rel="stylesheet" href="../../Content/awesomplete.css"/>
    <script src="/Scripts/awesomplete.js" async></script>
    <script src="/Scripts/mustache.js" async></script>
}
